:root{


}
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}

body {
    background-color: lightgray;
}

header {
    padding: 30px;
    font-family: ;
    background-color: lightsteelblue;
    color: ;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-family: ;
    margin-left: 50px;
    margin-right: 30px;
}

header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: ;
    font-size: ;
}

header nav ul li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 50px;
    font-size: 20px;
}

a{
    color: ;

}

.content {
    width: ;
    display: ;
    margin-left: ;

}

.content h2{
    font-size: 24px;
    font-family: ;
    
}

#about-me {
    width: 20%;
    height: 300px;
    padding: 25px;
    border: 2px solid black;
    margin: 70px;
    margin-top: 50px;


}

#work{
    padding: 25px;
    margin: 70px;
    width: 50%;

}

#contact-me{
    width: 20%;
    height: 300px;
    padding: 25px;
    border: 2px solid black;
    margin: 70px;

}

#resume{
    padding: 70px;
    margin: 25px;

}

img{
 width: 20%;
 margin: 70px;
 border-radius: 20%;
}

footer{
    padding: ;
    font-family: ;
    text-align: center;
}

footer h3{
    font-size: ;
}

