:root{


}
* {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}

body {
    background-color: lightgray;
}

header {
    padding: 30px;
    font-family: ;
    background-color: lightsteelblue;
    color: ;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-family: ;
    margin-left: 80px;
    margin-right: 50px;
}

header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: ;
    font-size: ;
}

header nav ul li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 50px;
    font-size: 20px;
}

#profile{
    display: block;
    width: 20%;
    margin: 80px;
    border-radius: 20%;
    
}
a{
    color: ;

}

.content {
    display: inline;
    flex-flow: row wrap;
    justify-content: space-between;
    
    

}

.content h2{
    font-size: 24px;
    font-family: ;
    
}

#about-me {
    width: 20%;
    height: 300px;
    padding: 25px;
    border: 2px solid black;
    margin: 80px;
    margin-top: 50px;
    

}

#work{
    flex-direction: row;
    align-content: center;
    padding: 25px;
    margin: 70px;
    width: 50%;
    
}

#main-work{
    width: 49%;

}

#contact-me{
    width: 20%;
    height: 300px;
    padding: 25px;
    border: 2px solid black;
    margin: 70px;

}


img{
 
}

footer{
    padding: ;
    font-family: ;
    text-align: center;
}

footer h3{
    font-size: ;
}

